<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partialsCss/header.css">
    <!-- Votre contenu HTML va ici -->
</head>



<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
 <script src="http://cdn.jsdelivr.net/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nicescroll@3.7.4/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Add the Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- Start Section Header -->
    <section class="header">
        <div class="container">
            <header id="header">
                <div class="logo fl-left">
                    <h2 class="main-color"> <a href="/" style="color: white;">Mon Bouquin</a></h2>
                </div>
                <nav class="fl-right">
                    <ul>
                        <li class="go"><a href="/">Accueil <i class="fa fa-home"></i></a></li>
                        <li><a href="/#about" data-target="about">À propos <i class="fa fa-info-circle"></i></a></li>
                        <li><a href="/#contact" data-target="contact">Contact <i class="fa fa-envelope"></i></a></li>
                        <li><a href="/boutique">Shop <i class="fa fa-shopping-bag"></i></a></li>
                        <% if (user !== undefined ) 
                        { %> 
                            <li><a href="/myAccount" data-target="Mon Compte"> mon compte <i class="fa fa-user"></i></a></li>
                            <li><a href="/logout"> deconnexion <i class="fa fa-user"></i></a></li>  
                        <% }else {%> 
                             <li><a href="/login"> Connexion <i class="fa fa-user"></i></a></li> 
                        <% } %>
                        
                        <li><a href="/panier" data-target="panier">Mon caddie <i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
            </header>
            <div class="clearfix"></div>

        </div>
    </section> 