<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/accueil.css">
    <!-- Votre contenu HTML va ici -->
</head>



<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
<script src="http://cdn.jsdelivr.net/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nicescroll@3.7.4/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
<script src="/js/accueil.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Start Section Header -->
    <section class="header">
        <div class="container">
            <header id="header">
                <div class="logo fl-left">
                    <h2 class="main-color">Mon Bouquin</h2>
                </div>
                <nav class="fl-right">
                    <ul>
                        <li class="go"><a href="#">Accueil <i class="fa fa-home"></i></a></li>
                        <li><a href="#about" data-target="about">À propos <i class="fa fa-info-circle"></i></a></li>
                        <li><a href="#contact" data-target="contact">Contact <i class="fa fa-envelope"></i></a></li>
                        <li><a href="/boutique">Shop <i class="fa fa-shopping-bag"></i></a></li>
                        <% if (user !== undefined ) 
                        { %> 
                            <li><a href="/myAccount" data-target="Mon Compte"> mon compte <i class="fa fa-user"></i></a></li> 
                            <li><a href="/logout"> deconnexion <i class="fa fa-user"></i></a></li>   
                        <% }else {%> 
                             <li><a href="/login"> Connexion <i class="fa fa-user"></i></a></li> 
                        <% } %>
                        <li><a href="#panier" data-target="panier">Mon caddie <i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </nav>
            </header>
            <div class="clearfix"></div>
            <div class="h_info text-center">
                <h1>Notre site de E-Commerce sur les livres</h1>
                <p class="g_p typed"></p>
                <a href="/boutique" class="anchor">Vers la boutique</a>
            </div>
        </header>
    </div>
</section>
<!-- End Section Header -->

<!--Start Section About -->
<section id="about" class="about">
    <div class="ab_img fl-left">
        <img src="https://cdn.shopify.com/s/files/1/0250/9186/6660/files/books-985954_1920_480x480.jpg?v=1647448298"
            alt="about" />
    </div>
    <div class="ab_info fl-right">
        <h2 class="main-color">À propos</h2>
        <p>
            Boutique vendant toutes sortes de livres. Nous avons ce que vous recherchez, du 1er Naruto aux Misérables,
            en passant par les plus grands classiques de Shakespeare.
            <br>
            Nous possédons évidemment des livres en français, mais également quelques livres en anglais pour les
            personnes ne parlant pas la langue de Molière.
        </p>
    </div>
</section>
<!--End Section About -->

<!--Start Section Testimonial -->
<section id="testimonial" class="testimonial text-center">
    <div class="container">
        <h1 class="double">Avis</h1>
        <ul class="bxslider">
            <li>
                <img src="https://image.ibb.co/ieq38w/test_03.jpg" alt="test-01" />
                <p class="g_p">
                    Super boutique avec du choix, je conseil j'ai pu trouver mon bonheur.
                </p>
                <span>David Ginola</span>
            </li>
            <li>
                <img src="https://image.ibb.co/fFOZFb/test_02.jpg" alt="test-01" />
                <p class="g_p">
                    Très bonne acceuil, très chalereux, n'avais pas ce que je cherchais mais ont pu commandez avec moi
                    sans soucis.
                </p>
                <span>Mohamed Ali</span>
            </li>
            <li>
                <img src="https://image.ibb.co/kQjkMG/test_01.jpg" alt="test-01" />
                <p class="g_p">
                    Juste parfait, j'ai pu me poser et prendre le temps avec un vendeur pour trouver ce que j'avais
                    besoin.
                </p>
                <span>Skyyart</span>
            </li>
        </ul>
    </div>
</section>
<!--End Section Testimonial -->

<!--Start Section CountTo-->
<section class="count">
    <div class="container" id="center-container">
        <div class="co_box fl-left">
            <i class="fa fa-coffee fl-left"></i>
            <div class="info fl-right" id="center-content">
                <p class="timer" data-from="2000" data-to="4225" data-speed="12000"></p>
                <span>Cup of Coffee</span>
            </div>
        </div>
    </div>
</section>

<!--End Section CountTo-->

<!--Start Section Service-->
<section id="service" class="service ">
    <div class="container">
        <h1 class="double text-center">Livres disponibles</h1>
        <p class="g_p text-center">
            Voici certains des livres que nous disposons :
        </p>
        <div class="ser_box-container">
            <% for (let i=0; i < 8 && i < livres.length; i++) { %>
                <div class="ser_box">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <h3>
                        <%= livres[i].name %>
                    </h3>
                    <p>
                        Auteur : <%= livres[i].auteur %><br>
                            Genre : <%= livres[i].genre %><br>
                                Prix : <%= livres[i].prix %>
                    </p>
                </div>
                <% } %>
        </div>
    <div class="center-button">
        <button class="anchor">La boutique</button>
    </div>
</section>
<!--End Section Service-->

<!--Start Section Contact -->
<section id="contact" class="contact">
    <div class="container">
        <h1 class="double text-center">Contactez nous</h1>
        <p class="g_p text-center">
            Pour nous contactez veuillez nous envoyer un mail ou appelez pendant les heures d'ouverture.
        </p>
        <div class="co_box">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <p>01 11 22 33 44</p>
        </div>
        <div class="co_box">
            <i class="fa fa-mail-reply" aria-hidden="true"></i>
            <p>monbouquin@gmail.com</p>
        </div>
        <div class="co_box">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p>Lundi - Dimanche <br> 10:00 – 20:00</p>
        </div>
        <div class="clearfix"></div>
        <div class="contact_box">
            <div class="form fl-left">
                <input type="text" placeholder=" Your Name" />
                <input type="email" placeholder=" Your Email" />
                <input type="text" placeholder=" Your WebSite" />
                <input type="text" placeholder=" Where Are You From?" />
                <select id="subject" class="form-group form-control">
                    <option value="" selected disabled>Subject</option>
                    <option>Website Design & Development</option>
                    <option>Wordpress Development</option>
                    <option>Search Engine Optimization</option>
                    <option>Mobile Website</option>
                    <option>I Want to General Talk</option>
                    <option>Other</option>
                </select>
                <textarea placeholder="Message"></textarea>
                <button class="anchor">Send Message</button>
            </div>
            <div class="map fl-left"></div>
        </div>
    </div>
</section>
<!--End Section Contact -->

<!--Start Section Footer-->
<footer class="text-center">
    <span>2017 CopyRight <sup>&copy;</sup>All Right Reversed <sub>&reg;</sub> For Mamoun Adil Mamoun </span>
</footer>
<!--Start Section Footer-->

<!--Start Go Top To-->
<div class="top">
    <i class="fa fa-angle-double-up"></i>
</div>

<!-- End WorkSpace -->






<!-- Vous pouvez inclure votre script JavaScript ici -->
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
<script src="http://cdn.jsdelivr.net/bxslider/4.2.5/jquery.bxslider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nicescroll@3.7.4/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
</body>

</html>