<%- include('partials/header'),{ user: user } %>
<title>Boutique</title>

<link rel="stylesheet" href="/css/boutique.css">
    <!-- Add the Bootstrap CSS link -->

  


  <main>

    <!--Main layout-->
    <div class="container">
      <div class="row">
        <h1 class="page-header">Voici nos articles : </h1>
  
  
      </div>
      <!--/.Sidebar-->
  
      <!--Main column-->
  
      <style>
        .card {
          border: 1px solid #ddd;
          border-radius: 5px;
          margin-bottom: 20px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
      
        .card-title {
          font-size: 1.25rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
      
        .card-text {
          font-size: 1rem;
          margin-bottom: 15px;
        }
      
        .btn-default {
          background-color: #007BFF;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1rem;
        }
      
        .btn-default:hover {
          background-color: #0056b3;
        }
      
        .view.overlay {
      position: relative;
      padding: 0;
      margin-bottom: 20px;
      text-align: center; /* Centre l'image horizontalement */
    }
  
    .view.overlay img {
      object-fit: cover;
    }
    
      
        .mask {
          background-color: rgba(0, 123, 255, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
      
        .view.overlay:hover .mask {
          opacity: 1;
        }
      </style>
      
  
      
        <!-- Cartes dynamiques -->
        <div class="row">
          <% livres.forEach(function(livre) { %>
            <div class="col-lg-4">
              <div class="card wow fadeIn" data-wow-delay="0.2s">
                <div class="view overlay hm-white-slight">
                  <img src="<%= livre.image %>" class="img-fluid" alt="" style="max-height: 300px; width: auto;">
                  <a href="/livre/<%= livre._id %>">
                    <div class="mask"></div>
                  </a>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><%= livre.name %></h4>
                  <p class="card-text"><%= livre.description %></p>
                  <a href="/livre/<%= livre._id %>" class="btn btn-grey">Acheter pour <strong>$<%= livre.prix %></strong></a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        <!-- /.Cartes dynamiques -->
      
      </div>
      
  </main>


  <!--Footer-->
  <footer class="page-footer center-on-small-only">
  
    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">
  
        <!--First column-->
        <div class="col-md-3 offset-lg-1 hidden-lg-down">
          <h5 class="title">ABOUT MATERIAL DESIGN</h5>
          <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>
  
          <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
        </div>
        <!--/.First column-->
  
        <hr class="hidden-md-up">
  
        <!--Second column-->
        <div class="col-lg-2 col-md-4 offset-lg-1">
          <h5 class="title">About us</h5>
          <ul>
            <li><a href="#!">Adress</a></li>
            <li><a href="#!">Team</a></li>
            <li><a href="#!">Phone number</a></li>
          </ul>
        </div>
        <!--/.Second column-->
  
        <hr class="hidden-md-up">
  
        <!--Third column-->
        <div class="col-lg-2 col-md-4">
          <h5 class="title">Metrics</h5>
          <ul>
            <li><a href="#!">Shoe sizes</a></li>
            <li><a href="#!">T-shirt sizes</a></li>
            <li><a href="#!">Sweatshirt sizes</a></li>
            <li><a href="#!">Pants sizes</a></li>
          </ul>
        </div>
        <!--/.Third column-->
  
        <hr class="hidden-md-up">
  
        <!--Fourth column-->
        <div class="col-lg-2 col-md-4">
          <h5 class="title">Useful links</h5>
          <ul>
            <li><a href="#!">Pricing</a></li>
            <li><a href="#!">Delivery</a></li>
            <li><a href="#!">Countries</a></li>
            <li><a href="#!">Returns</a></li>
          </ul>
        </div>
        <!--/.Fourth column-->
  
      </div>
    </div>
    <!--/.Footer Links-->
  
    <hr>
  
    <!--Call to action-->
    <div class="call-to-action">
      <h4> Created with Material Design for Bootstrap</h4>
      <br>
      <h5>Get our UI KIT for free</h5>
      <ul>
        <li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-info">Download now!</a></li>
        <li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default">Learn more</a></li>
      </ul>
    </div>
    <!--/.Call to action-->
  
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
  
      </div>
    </div>
    <!--/.Copyright-->
  
  </footer>
  <!--/.Footer-->