<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="/css/boutique.css">
  <!-- Add the Bootstrap CSS link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Add the Bootstrap JavaScript and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Votre contenu HTML va ici -->
</head>
<script>
  new WOW().init();
</script>
<header>
  <!-- Start Section Header -->
  <section class="header">
    <div class="container">
      <header id="header">
        <div class="logo fl-left">
          <h2 class="main-color">Mon Bouquin</h2>
        </div>
        <nav class="fl-right">
          <ul>
            <li class="go"><a href="#">Accueil <i class="fa fa-home"></i></a></li>
            <li><a href="#about" data-target="about">À propos <i class="fa fa-info-circle"></i></a></li>
            <li><a href="#contact" data-target="contact">Contact <i class="fa fa-envelope"></i></a></li>
            <li><a href="#magasin" data-target="magasin">Shop <i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#compte" data-target="Mon Compte">Mon compte <i class="fa fa-user"></i></a></li>
            <li><a href="#panier" data-target="panier">Mon caddie <i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </nav>
      </header>
      <div class="clearfix"></div>
      <div class="h_info text-center">
      </div>
    </div>
  </section>
</header>

<main>

  <!--Main layout-->
  <div class="container">
    <div class="row">
      <h1 class="page-header">Voici nos articles : </h1>


    </div>
    <!--/.Sidebar-->

    <!--Main column-->

    <style>
      .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    
      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    
      .card-text {
        font-size: 1rem;
        margin-bottom: 15px;
      }
    
      .btn-default {
        background-color: #007BFF;
        color: #fff;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
      }
    
      .btn-default:hover {
        background-color: #0056b3;
      }
    
      .view.overlay {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    text-align: center; /* Centre l'image horizontalement */
  }

  .view.overlay img {
    object-fit: cover;
  }
  
    
      .mask {
        background-color: rgba(0, 123, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
    
      .view.overlay:hover .mask {
        opacity: 1;
      }
    </style>
    

    
      <!-- Cartes dynamiques -->
      <div class="row">
        <% livres.forEach(function(livre) { %>
          <div class="col-lg-4">
            <div class="card wow fadeIn" data-wow-delay="0.2s">
              <div class="view overlay hm-white-slight">
                <img src="<%= livre.image %>" class="img-fluid" alt="" style="max-height: 300px; width: auto;">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <div class="card-block">
                <h4 class="card-title"><%= livre.name %></h4>
                <p class="card-text"><%= livre.description %></p>
                <a href="/livre/<%= livre._id %>" class="btn btn-default">Buy now for <strong>$<%= livre.prix %></strong></a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <!-- /.Cartes dynamiques -->
    
    </div>
    
</main>

<!--Footer-->
<footer class="page-footer center-on-small-only">
  <hr>

  <!--Footer Links-->
  <div class="container-fluid">
    <div class="row">

      <!--First column-->
      <div class="col-md-3 offset-lg-1 hidden-lg-down">
        <h5 class="title">ABOUT MATERIAL DESIGN</h5>
        <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS
          framework - Bootstrap.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-lg-2 col-md-4 offset-lg-1">
        <h5 class="title">About us</h5>
        <ul>
          <li><a href="#!">Adress</a></li>
          <li><a href="#!">Team</a></li>
          <li><a href="#!">Phone number</a></li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Metrics</h5>
        <ul>
          <li><a href="#!">Shoe sizes</a></li>
          <li><a href="#!">T-shirt sizes</a></li>
          <li><a href="#!">Sweatshirt sizes</a></li>
          <li><a href="#!">Pants sizes</a></li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-lg-2 col-md-4">
        <h5 class="title">Useful links</h5>
        <ul>
          <li><a href="#!">Pricing</a></li>
          <li><a href="#!">Delivery</a></li>
          <li><a href="#!">Countries</a></li>
          <li><a href="#!">Returns</a></li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->



</footer>
<!--/.Footer-->