<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/loginform.css">
</head>
<body>
    <main>
        <div class="login">
            <h1>login</h1>
            <form method="post" action="/login" >
                <input type="text" name="email" placeholder="email" required="required" />
                <input type="password" name="password" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
            </form>
            <div>
                <a href="/register">
                    créez un compte
                </a>
            </div>
        </div>

    </main>
</body>
</html>