<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/loginform.css">
</head>
<body>
    <main>
        <div class="login">
            <h1><%= username %></h1>
            <form method="post" action="/userUpdate" >
                <input type="text" name="username" placeholder="username" value="<%= username %>" required="required" />
                <input type="hidden" name="email" value="<%= email %>">
                <button type="submit" class="btn btn-primary btn-block btn-large">changer nom d'utilisateur </button>
            </form>
            <div>
                <form method="post" action="/deleteUser">
                    <button type="submit" class="btn btn-primary btn-block btn-large">suppression du compte </button>  
                </form> 

            </div>
        </div>

    </main>
</body>
</html>