<!-- product.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
  <script src="http://cdn.jsdelivr.net/bxslider/4.2.5/jquery.bxslider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/nicescroll@3.7.4/jquery.nicescroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
  <script src="/js/produit.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/produit.css">

  <title>Livre Details</title>
</head>

<body>

  <div class='container'>
    <div class='background-element' id='background-element'>
    </div>

    <style>
      #product-img {
        background-image: url('<%= livre.image %>');
        max-width: 100%;
        max-height: 550px;
      }
    </style>

    <div class='highlight-window' id='product-img'>
      <div class='highlight-overlay' id='highlight-overlay'></div>
    </div>
    <div class='window'>
      <div class='main-content'>
        <h2><%= livre.name %></h2>
        <h1><%= livre.auteur %></h1>
        <h3><%= livre.editeur %></h3>
        <div class='description' id='description'>
          
          <%= livre.genre %> / <%= livre.datePublication %></div>


        <div class='divider'></div>

        <div class='purchase-info'>
          <div class='price'><strong>$<%= livre.prix %></strong></div>
          <button>ADD TO CART</button>
        </div>
      </div>
    </div>
    <button id="retourButton" style="margin-bottom: 50px;">Retour</button>
    <script>
      document.getElementById('retourButton').addEventListener('click', function () {
        window.history.back(); // Cette ligne renvoie l'utilisateur à la page précédente.
      });
    </script>

  </div>


  <!-- <div class="container">
        <h1>Livre Details</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="view overlay hm-white-slight">
                        <img src="<%= livre.image %>" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h2><%= livre.name %></h2>
                <p><strong>Description:</strong> <%= livre.description %></p>
                <p><strong>Prix:</strong> $<%= livre.prix %></p>
                <!-- Autres détails du livre ici -->
  <!-- </div>
        </div>
    </div> -->
</body>

</html>
