<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/loginform.css">
</head>
<body>
    <main>
        <h1>Register </h1>
        <% if (admin === true ){ %> 
            <h2>compte admin</h2>
        <% } %>
        <div class="login">
            <h1>register</h1>
            
            <% if (admin === true ){ %> 
                <form method="post" action="/userAdmin" >
                    <input type="text" name="username"placeholder="Username" required="required" />
                    <input type="text" name="email" placeholder="email" required="required" />
                    <input type="password" name="password" placeholder="Password" required="required" />
                    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                </form>
            <% }else {%> 
                <form method="post" action="/register" >
                    <input type="text" name="username"placeholder="Username" required="required" />
                    <input type="text" name="email" placeholder="email" required="required" />
                    <input type="password" name="password" placeholder="Password" required="required" />
                    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                </form>
            <% } %>
                

        </div>
    </main>
</body>
</html>