/* Start Style  Global */
* { box-sizing: border-box; font-family: 'Poppins', sans-serif }

ul { list-style-type: none; padding: 0; margin: 0 }

h1, h2, h3, h4, p { margin: 0 }
/* End Style  Global */

/* Our KeyFrame */
.container { width: 1200px; margin: auto }

.clearfix { clear: both}

.text-center { text-align: center }

:root { --color: #24B662 }

.main-color {
    color: white;
}
.fl-left { float: left }

.fl-right { float: right }

.g_p { font-size: 18px; line-height: 1.9; margin: 15px 0 40px; letter-spacing: 1px; font-family: 'Poppins',sans-serif;}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    height: 60px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .9);
    color: #FFF
}

.fixed .inner { width: 1200px; margin: auto}

 .typed::after {
    visibility: visible;
    content: '';
    background-color: #24B662;
     border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 3px;
    height: 21px;
    top: 5px;
    margin-left: 3px
}

.double {
    border-bottom: 4px double #24b662;
    border-radius: 25px;
    margin: 0 auto 30px;
    padding: 10px 0;
    width: 300px;
    letter-spacing: 3px;
}
/* Our KeyFrame */

/* Start Section Header */
.header { background-image: url('https://fr-minecraft.net/upload/wallpapers/images/fr-minecraft_wallpaper_1TNX.jpg'); background-size: cover; padding: 30px; background-attachment: fixed; z-index: 500;}

.header header { color: #FFF}

.header header .logo { padding: 10px }

.header header nav ul li { display: inline-block; margin: 15px 10px 0 0 }

.header header nav ul li a { text-decoration: none; color: #FFF; padding: 10px }

.header header nav ul li a:hover { color: var(--color) }

.header .h_info { color: #FFFFFF}

.header .h_info h1 { font-size: 50px }