/* TEMPLATE STYLES */
/* Start Style  Global */
* { box-sizing: border-box; font-family: 'Poppins', sans-serif }

ul { list-style-type: none; padding: 0; margin: 0 }

h1, h2, h3, h4, p { margin: 0 }
/* End Style  Global */

/* Our KeyFrame */
.container { width: 1200px; margin: auto }

.clearfix { clear: both}

.text-center { text-align: center }

:root { --color: #24B662 }

.main-color {
    color: white;
}
.fl-left { float: left }

.fl-right { float: right }

.g_p { font-size: 18px; line-height: 1.9; margin: 15px 0 40px; letter-spacing: 1px; font-family: 'Poppins',sans-serif;}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 60px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .9);
    color: #FFF
}

.fixed .inner { width: 1200px; margin: auto}

 .typed::after {
    visibility: visible;
    content: '';
    background-color: #24B662;
     border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 3px;
    height: 21px;
    top: 5px;
    margin-left: 3px
}

.double {
    border-bottom: 4px double #24b662;
    border-radius: 25px;
    margin: 0 auto 30px;
    padding: 10px 0;
    width: 300px;
    letter-spacing: 3px;
}
/* Our KeyFrame */

/* Start Section Header */
.header { background-image: url('https://fr-minecraft.net/upload/wallpapers/images/fr-minecraft_wallpaper_1TNX.jpg'); background-size: cover; padding: 30px; background-attachment: fixed }

.header header { color: #FFF}

.header header .logo { padding: 10px }

.header header nav ul li { display: inline-block; margin: 15px 10px 0 0 }

.header header nav ul li a { text-decoration: none; color: #FFF; padding: 10px }

.header header nav ul li a:hover { color: var(--color) }

.header .h_info { color: #FFFFFF}

.header .h_info h1 { font-size: 50px }

.anchor {
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.anchor::after {
    content: "\f178";
    font-family: 'FontAwesome';
    position: absolute; top: 0; right: -20px; transition: all .5s ease-in-out }

.anchor:hover { background: var(--color) }

.anchor:hover::after { right: 10px }
/* End Section Header */

/* Start Section About */
.about { overflow: hidden; background-color: #F9F9F9 }

.about .ab_img { width: 60% }

.about .ab_img img { width: 100%; background-size: cover; display: block; background-attachment: fixed }

.about .ab_info { width: 40%; padding: 30px }

.about .ab_info h2 { font-size: 30px; margin-top: 30px; letter-spacing: 3px }

.about .ab_info p { text-align: justify; line-height: 2; margin: 15px; color: #888888 }
/* End Section About */

/* Start Section Portfolio */
.portfolio {
    padding: 100px 0;
    overflow: hidden
}

.portfolio p { font-size: 18px }

.portfolio ul { margin-top: 25px}
.portfolio ul li {
    display: inline-block;
    margin-left: 20px
}

.portfolio ul li.active a {
    color: #fff;
    background-color: #24b662;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90,91,95,0.15);
}

.portfolio ul li a { text-decoration: none; color: #000000; font-size: 15px }

.portfolio .img { margin-top: 50px }

.portfolio .img .row > div  {
    width: 24%;
    margin: 0 1.2% 1.2% 0;
    height: 250px;
    position: relative;
    overflow: hidden
}

.portfolio .img .row > div  a { outline: none }

.portfolio .img .row > div  a::before {
    content: "\f00e";
    font-family: FontAwesome;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    background-color: #24b662;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: -25%;
    left: 40%;
    transition: all .6s ease-in-out
}

.portfolio .img .row > div a:hover::before {top: 45% }

.portfolio .img .row div:first-of-type { margin-left: 13%}

.portfolio .img .row > div img { display: block; width: 100%; background-size: cover;border-radius: 10px;}

.portfolio .mix { display: none }

/* End Section Portfolio */

/* Start Style Testimonial */
.testimonial {
    padding: 100px 0 ;
    overflow: hidden;
    background: #efefef
}

.testimonial .double { width: 350px }

.testimonial .bxslider li { padding: 30px 0 80px }

.testimonial  .bx-wrapper {
    margin: 0;
    box-shadow: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(90,91,95,0.15) ;
    transition: all .3s ease-in-out;
    top: 0;
    cursor: pointer
}

.testimonial  .bx-wrapper:hover {
    top: -5px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager { margin-bottom: 60px}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: var(--color) !important
}

.testimonial .bxslider img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto
}

.testimonial .bxslider span {
    display: block;
    margin-top: -15px;
    color: var(--color);
    font-size: 18px
}

/* End Style Testimonial */

/* Start Style Count */
.count {
    padding: 100px 0;
    background-image: url('https://image.ibb.co/kB4rvb/header.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    overflow: hidden;
    color: #FFFFFF;
}

.count .co_box {
    width: 18%;
    margin-right: 4%;
    margin-top: 22px
}

.count .co_box:first-of-type { margin-left: 12%}

.count .co_box i {
    display: block;
    width: 20%;
    font-size: 40px
}

.count .co_box:first-of-type i { color: #f306a0 }
.count .co_box:nth-of-type(2) i { color: #d8be10 }
.count .co_box:nth-of-type(3) i { color: #f97400 }
.count .co_box:last-of-type i { color: #0fd28a }

.count .co_box .info {
    width: 70%;
    margin-left: 10%;
}

.count .co_box .info p { margin-bottom: 10px; font-size: 25px; margin-top: 2px}
.count .co_box .info span { font-size: 17px}
/* End Style Count */

/* Start Style Services */
.service {
    padding: 100px 0;
    overflow: hidden;
    background-color: #efefef;
}

.service .ser_box {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 4%;
    background-color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 1px 2px 0px rgba(90,91,95,0.15);
    border-bottom-right-radius: 25%;
    position: relative;
    top: 0;
    padding: 40px 25px;
    transition: all .3s ease-in-out;
    cursor: pointer
}

.service .ser_box:hover {
    top: -5px;
    border-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

.service .ser_box i {
    font-size: 42px;
    margin-bottom: 20px;
}

.service .ser_box:first-of-type i { color: #f306a0}
.service .ser_box:nth-of-type(2) i { color: #d60bfb }
.service .ser_box:nth-of-type(3) i { color: #d8be10 }
.service .ser_box:nth-of-type(4) i { color: brown}
.service .ser_box:nth-of-type(5) i { color: #0fd28a}
.service .ser_box:nth-of-type(6) i { color: #08a6f3 }
.service .ser_box:nth-of-type(7) i { color: #f97400 }
.service .ser_box:last-of-type i { color: deeppink }

.service .ser_box h3 {
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
}

.service .ser_box h3::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 42px;
    height: 2px;
    background: var(--color);

}

.service .ser_box p {
    margin-top: 30px;
    text-align: justify;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 1px;
    font-family: 'Poppins',sans-serif;
}
/* End Style Services */

/* Start Style Contact */
.contact {
    padding: 100px 0 5px ;
    overflow: hidden;
    background-color: #f6f6f6;
}

.contact .co_box {
    width: 20%;
    margin-right: 9.33333%;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-top: 20px;
}

.contact .co_box:first-of-type { margin-left: 10%}

.contact .co_box:hover {
    top: -5px;
    color: #333
}

.contact .co_box i {
    margin: 0 auto;
    display: block;
    font-size: 35px;
    width: 80px;
    height: 80px;
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    box-shadow: 0px 1px 2px 0px rgba(90,91,95,0.15)
}

.contact .co_box:hover  i {  box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33) }

.contact .co_box:first-of-type i { color: #08a6f3 }
.contact .co_box:nth-of-type(2) i { color: #f97400}
.contact .co_box:nth-of-type(3) i { color: #d8be10 }

.contact .co_box p {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
}

.contact .contact_box { margin-top: 100px }

.contact .contact_box .form { width: 49%; margin-right: 2%; color: #888888}

.contact .contact_box .form input {
    display: inline-block;
    width: 275px;
    height: 50px;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px rgba(0,0,0,.075);
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 15px;
    outline: none;
}

.contact .contact_box .form textarea {
    width: 100%;
    height: 200px;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px rgba(0,0,0,.075);
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

.form-group {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #888;
    padding: 6px 12px;
    box-shadow: 0 2px 2px rgba(0,0,0,.075);
    outline: none;
}

.form input:focus, .form textarea:focus, .form select:focus {
    border-color: #24b662 !important;
    border-width: 2px !important
}

.contact .contact_box .form button {
    border: 1px solid transparent;
    background-color: #4ea7f9;
    box-shadow: 0 2px 2px rgba(0,0,0,.075);
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 20px auto 0;
    transition: all .5s ease-in-out
}

.contact .contact_box .form button:hover {
    background-color: #24b662 !important;
    color: #FFF;
}

.contact .contact_box .map {
    width: 49%;
    background: url("https://image.ibb.co/drdO8w/map.png");
    background-size: cover;
    height: 500px;
}
/* End Style Contact */

footer {
    padding:20px;
    background-color: #24b662;
    color: #FFF
}

.top {
    position: fixed;
    right: 15px;
    bottom: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    background-color: #24b662;
    color: #ffffff;
    cursor: pointer;
    display: none
}


.center-button {
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-left: 650px;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  .widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }
  
  .extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .divider-new {
    margin-top: 0;
  }
  
  .navbar {
    background-color: #414a5c;
  }
  
  footer.page-footer {
    background-color: #414a5c;
    margin-top: 2rem;
  }
  