/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
  }
  
  main {
      max-width: 82rem;
      margin: auto;
  }
  
  nav {
      margin-bottom: 2rem;
  }
  
  nav ul {
      display: flex;
      list-style: none;
      border-bottom: 1px solid #333;
  }
  nav a {
      padding: 1rem;
      margin: 0 0.25rem;
      color: #333;
      display: block;
  }
  nav a:hover {
      text-decoration: underline;
  }
  
  form {
      display: flex;
      flex-direction: column;
       max-width: 20rem;
  }
  form input {
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border: 1px solid #333;
  }